modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0", "javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
CLOUDFLARE_ZONE_ID = "054b9e09ddbce13503c356da74184d9c"
BASE_URL = "https://afroaigroup.com"
NAMEDOTCOM_API_USER = "kayondoabass@gmail.com"
NAMEDOTCOM_API_URL = "https://api.name.com/v4"
NAMEDOTCOM_TEST_API_USER = "kayondoabass@gmail.com-test"
NAMEDOTCOM_TEST_API_URL = "https://api.dev.name.com/v4"
PESAPAL_ENV = "production"
VITE_RECAPTCHA_SITE_KEY = "6LeLs7MsAAAAAM9txvhkOvLG9WGBqucpXkkq2_Gm"
EMAIL_API_DEMO_FROM = "noreply@afroaigroup.com"
